html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 380px;
}
/*задаём настройки для заголовков первого уровня*/
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.modal{
    
}

.modal-header{
    padding: 15px 20px;
    border-bottom: 2px solid #ccc;
}

.modal-content{
    padding: 15px 20px;
}

.tracking-code{

}

.tracking-code__btn-search{
    display: block;
    width: 150px;
    height: 40px;
    margin: 0 auto 15px;
    border: none;
    border-radius: 5px;
    background: #ccc;
    color: #000;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.tracking-code__results{
    margin-bottom: 15px;
}

.tracking-code__item{
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    border-bottom: 1px solid #ccc;
}

/* .tracking-code__item:last-child{
    border-bottom: none;
} */

.tracking-code__item-title{

}

.tracking-code__item-value{

}
